/* body {
    background-color: black;
  }
  
  .main-container {
    margin: auto;
    max-width: 370px;
    height: 600px;
    border-radius: 1rem;
    margin-top: 30px;
    margin-bottom: 40px;
    position: relative;
    border: 1px solid rgba(211, 211, 211, 0.671);
    background-color: white;
  }
  
  /* Add more styles here as necessary */
   